# Prerequisites
*.d

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.pdb

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

TestDrivenDev/TDD_PivotStructure/packages/CommonServiceLocator\.2\.0\.2/\.signature\.p7s

TestDrivenDev/TDD_PivotStructure/packages/CommonServiceLocator\.2\.0\.2/CommonServiceLocator\.2\.0\.2\.nupkg

TestDrivenDev/TDD_PivotStructure/packages/MvvmLightLibs\.5\.4\.1\.1/\.signature\.p7s

TestDrivenDev/TDD_PivotStructure/packages/MvvmLightLibs\.5\.4\.1\.1/lib/monoandroid1/GalaSoft\.MvvmLight\.Extras\.XML

TestDrivenDev/TDD_PivotStructure/packages/MvvmLightLibs\.5\.4\.1\.1/lib/monoandroid1/GalaSoft\.MvvmLight\.Platform\.XML

TestDrivenDev/TDD_PivotStructure/packages/MvvmLightLibs\.5\.4\.1\.1/lib/monoandroid1/GalaSoft\.MvvmLight\.XML

TestDrivenDev/TDD_PivotStructure/packages/MvvmLightLibs\.5\.4\.1\.1/lib/net35/GalaSoft\.MvvmLight\.Extras\.xml

TestDrivenDev/TDD_PivotStructure/packages/MvvmLightLibs\.5\.4\.1\.1/lib/net35/GalaSoft\.MvvmLight\.xml

TestDrivenDev/TDD_PivotStructure/packages/MvvmLightLibs\.5\.4\.1\.1/lib/net35/System\.Windows\.Interactivity\.xml

TestDrivenDev/TDD_PivotStructure/packages/MvvmLightLibs\.5\.4\.1\.1/lib/net40/GalaSoft\.MvvmLight\.Extras\.xml

TestDrivenDev/TDD_PivotStructure/packages/MvvmLightLibs\.5\.4\.1\.1/lib/net40/GalaSoft\.MvvmLight\.xml

TestDrivenDev/TDD_PivotStructure/packages/MvvmLightLibs\.5\.4\.1\.1/lib/net40/System\.Windows\.Interactivity\.xml

TestDrivenDev/TDD_PivotStructure/packages/MvvmLightLibs\.5\.4\.1\.1/lib/net45/GalaSoft\.MvvmLight\.Extras\.xml

TestDrivenDev/TDD_PivotStructure/packages/MvvmLightLibs\.5\.4\.1\.1/lib/net45/GalaSoft\.MvvmLight\.Platform\.xml

TestDrivenDev/TDD_PivotStructure/packages/MvvmLightLibs\.5\.4\.1\.1/lib/net45/GalaSoft\.MvvmLight\.xml

TestDrivenDev/TDD_PivotStructure/packages/MvvmLightLibs\.5\.4\.1\.1/lib/portable-net45\+wp8\+wpa81\+netcore45\+monoandroid1\+xamarin\.ios10/GalaSoft\.MvvmLight\.Extras\.XML

TestDrivenDev/TDD_PivotStructure/packages/MvvmLightLibs\.5\.4\.1\.1/lib/portable-net45\+wp8\+wpa81\+netcore45\+monoandroid1\+xamarin\.ios10/GalaSoft\.MvvmLight\.XML

TestDrivenDev/TDD_PivotStructure/packages/MvvmLightLibs\.5\.4\.1\.1/lib/SL5/GalaSoft\.MvvmLight\.Extras\.xml

TestDrivenDev/TDD_PivotStructure/packages/MvvmLightLibs\.5\.4\.1\.1/lib/SL5/GalaSoft\.MvvmLight\.xml

TestDrivenDev/TDD_PivotStructure/packages/MvvmLightLibs\.5\.4\.1\.1/lib/uap10\.0/GalaSoft\.MvvmLight\.Extras\.xml

TestDrivenDev/TDD_PivotStructure/packages/MvvmLightLibs\.5\.4\.1\.1/lib/uap10\.0/GalaSoft\.MvvmLight\.Platform\.pri

TestDrivenDev/TDD_PivotStructure/packages/MvvmLightLibs\.5\.4\.1\.1/lib/uap10\.0/GalaSoft\.MvvmLight\.Platform\.xml

TestDrivenDev/TDD_PivotStructure/packages/MvvmLightLibs\.5\.4\.1\.1/lib/uap10\.0/GalaSoft\.MvvmLight\.xml

TestDrivenDev/TDD_PivotStructure/packages/MvvmLightLibs\.5\.4\.1\.1/lib/windows81/GalaSoft\.MvvmLight\.Extras\.xml

TestDrivenDev/TDD_PivotStructure/packages/MvvmLightLibs\.5\.4\.1\.1/lib/windows81/GalaSoft\.MvvmLight\.Platform\.pri

TestDrivenDev/TDD_PivotStructure/packages/MvvmLightLibs\.5\.4\.1\.1/lib/windows81/GalaSoft\.MvvmLight\.Platform\.xml

TestDrivenDev/TDD_PivotStructure/packages/MvvmLightLibs\.5\.4\.1\.1/lib/windows81/GalaSoft\.MvvmLight\.xml

TestDrivenDev/TDD_PivotStructure/packages/MvvmLightLibs\.5\.4\.1\.1/lib/wp8/GalaSoft\.MvvmLight\.Extras\.xml

TestDrivenDev/TDD_PivotStructure/packages/MvvmLightLibs\.5\.4\.1\.1/lib/wp8/GalaSoft\.MvvmLight\.Platform\.xml

TestDrivenDev/TDD_PivotStructure/packages/MvvmLightLibs\.5\.4\.1\.1/lib/wp8/GalaSoft\.MvvmLight\.xml

TestDrivenDev/TDD_PivotStructure/packages/MvvmLightLibs\.5\.4\.1\.1/lib/wp81/GalaSoft\.MvvmLight\.Extras\.xml

TestDrivenDev/TDD_PivotStructure/packages/MvvmLightLibs\.5\.4\.1\.1/lib/wp81/GalaSoft\.MvvmLight\.Platform\.xml

TestDrivenDev/TDD_PivotStructure/packages/MvvmLightLibs\.5\.4\.1\.1/lib/wp81/GalaSoft\.MvvmLight\.xml

TestDrivenDev/TDD_PivotStructure/packages/MvvmLightLibs\.5\.4\.1\.1/lib/wpa81/GalaSoft\.MvvmLight\.Extras\.XML

TestDrivenDev/TDD_PivotStructure/packages/MvvmLightLibs\.5\.4\.1\.1/lib/wpa81/GalaSoft\.MvvmLight\.Platform\.pri

TestDrivenDev/TDD_PivotStructure/packages/MvvmLightLibs\.5\.4\.1\.1/lib/wpa81/GalaSoft\.MvvmLight\.Platform\.XML

TestDrivenDev/TDD_PivotStructure/packages/MvvmLightLibs\.5\.4\.1\.1/lib/wpa81/GalaSoft\.MvvmLight\.XML

TestDrivenDev/TDD_PivotStructure/packages/MvvmLightLibs\.5\.4\.1\.1/lib/xamarin\.ios10/GalaSoft\.MvvmLight\.Extras\.XML

TestDrivenDev/TDD_PivotStructure/packages/MvvmLightLibs\.5\.4\.1\.1/lib/xamarin\.ios10/GalaSoft\.MvvmLight\.Platform\.XML

TestDrivenDev/TDD_PivotStructure/packages/MvvmLightLibs\.5\.4\.1\.1/lib/xamarin\.ios10/GalaSoft\.MvvmLight\.XML

TestDrivenDev/TDD_PivotStructure/packages/MvvmLightLibs\.5\.4\.1\.1/MvvmLightLibs\.5\.4\.1\.1\.nupkg
